<beans:beans xmlns="http://www.springframework.org/schema/security"          
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:security="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd"> 

    <security:global-method-security secured-annotations="enabled"/>
    
<!--    <security:http pattern="/login" security="none"></security:http>-->
    
    <security:http auto-config="true">
        <intercept-url pattern="/**" method="OPTIONS" access="ROLE_ANONYMOUS"/>
        <security:intercept-url pattern="/**" access="ROLE_ADMIN" />
	<security:http-basic />
    </security:http>
  
    <security:authentication-manager> 
        <security:authentication-provider user-service-ref="customUserDetailsService"> 
             <password-encoder hash="plaintext"></password-encoder>
        </security:authentication-provider> 
    </security:authentication-manager> 
</beans:beans> 