$module: 'nav-menu-small';

.#{$module} {
    display: block;

    text-align: center;

    &__list {
        
        //some problems with very low viewport height - hide menu content
        //@include vrhythm('padding-bottom');
        &-terminator{
            @include vrhythm('height');
        }
        
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        

        &-wrapper{
            
            &-wrapper{
                overflow: hidden;
            }

            &_visible {
                @keyframes test {
                    0% {
                        max-height: 0vh;
                        transform: translateY(-100%);
                        opacity: 0; 
                        background-color: opacify(get-site-color('pistachio'), 0);
                    }
                    100% { 
                        max-height: 100vh;
                        transform: translateY(0%);
                        opacity: 1.0; 
                        background-color: opacify(get-site-color('pistachio'), 1);
                    }
                }
                
                //background-color: get-site-color('pistachio');
                animation: test 1s forwards;
                overflow: hidden;
            }
        }

        &_visible {

            @keyframes slide-in {
                0% { 
                    transform: translateY(-100%);
                    opacity: 0; 
                }
                100% { 
                    transform: translateY(0%);
                    opacity: 1.0; 
                }
            }

            display: inline-block;
            max-height: 50%;
            animation: slide-in 1s forwards;
        }
    }

    &__toggle-area
    {
        @include type-settings(2);
        background-color: get-site-color('pistachio');
        color: get-site-color('wall');
        right: 0; text-align: center;

        &-left-container{
            display: inline-block;
            float: left;

            &-icon{
                @include fa-icon($fa-var-user);
                padding-left: 1rem;
            }
        }

        &-center-container{
            display: inline-block;
            margin: 0 auto;

            &-icon{
                @include fa-icon($fa-var-globe);
                color: get-site-color('blue');
            }
        }

        &-right-container{
            display: inline-block;
            float: right;

            &-icon{
                @include fa-icon($fa-var-bars);
                padding-right: 1rem;
            }
        }

        &-clear{
            clear: both; 
        }

    }

    &__item {
        display: block;
        margin: 0;
        padding: 0;
        color: get-site-color('blue');
        @include font-regular();
        @include type-settings(1);
        text-align: left;
    }

    &__item-icon {
        color: get-site-color('brown');
        text-align: center;
        margin-right: 1rem;

        &_gallery{
            @include fa-icon($fa-var-th-large);
        }

        &_how-it-works{
            @include fa-icon($fa-var-cogs);
        }

        &_globe{
            @include fa-icon($fa-var-globe);
            color: get-site-color('blue');
        }

        &_workspace{
            @include fa-icon($fa-var-play);
        }

        &_settings{
            @include fa-icon($fa-var-cog);
        }

        &_signout{
            @include fa-icon($fa-var-sign-out);
            color: get-site-color('red');
        }

        &_signin{
            @include fa-icon($fa-var-sign-in);
            color: get-site-color('blue');
        }
    }

    &__item-text {
        display: inline-block;
        color: get-site-color('blue');


        @include font-regular();
        text-align: center;

        &_selected {
            color: get-site-color('wall');
        }
    }
}