$module: 'component-description';

.#{$module} {
    display: block;
    @include type-settings();
    padding-left: 3em;
    padding-right: 3em;

    &__header {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        @include type-settings(1);
        font-weight: normal;
    }

    &__link {
        @include type-settings();
    }

    &__bd {
        display: block;
        @include type-settings();
        @include vrhythm();
        padding-left: 1em;
        padding-right: 1em;
    }

    &__elements {
        display: block;
        @include type-settings();
        @include vrhythm('margin-top');
    }

    &__bottom-splitter{
        display: block;
    }

    &__block-name{
        font-weight: bold;
    }

    &__element-name{
        font-weight: bold;
    }
}