<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <bean id="dozerMapper" class="org.dozer.DozerBeanMapper" scope="singleton" >
        <property name="mappingFiles">
            <list>
                <value>dozer/dozer-bean-mapper-category.xml</value>
                <value>dozer/dozer-bean-mapper-partner.xml</value>
                <value>dozer/dozer-bean-mapper-product-localization.xml</value>
                <value>dozer/dozer-global-configuration.xml</value>
            </list>
        </property>
    </bean>
    
    <bean id="dataMapper" class="com.stitchgalaxy.service.DataMapper">
        <property name="dataMapper" ref="dozerMapper"></property>
    </bean>
</beans>
