/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2014, 11:06:08 PM
    Author     : Administrator
*/

@charset "UTF-8";

a.add_button, a.add_button:link, a.add_button:visited, input.submit_add {
    display: inline-block;
    color: #FFFFFF;
    background-color: #8AC007;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    white-space: nowrap;
}

a.edit_button, a.edit_button:link, a.edit_button:visited, input.submit_edit {
    display: inline-block;
    color: #FFFFFF;
    background-color: #0070A8;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    white-space: nowrap;
}

a.delete_button, a.delete_button:link, a.delete_button:visited, input.submit_delete {
    display: inline-block;
    color: #FFFFFF;
    background-color: #f00;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    white-space: nowrap;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

input.text_input:invalid {color: red;}
input.text_input:valid {color: green;}

input.text_input:invalid + .text_input_validation::after { content: '  '; }
input.text_input:valid + .text_input_validation::after { content: ' ✓'; color: green}

.img_control_container
{
    float: left;
}

.images_separator
{
    float: left; 
    width: 10px; 
    height: 10px;
}

.image_container {
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #000;
  border: 4px solid;
  color: #000;
}

.image_hyperlink 
{
    display: block;
    width: 100%; 
    height: 100%;
}

.file_upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 45px;
    
    color: #FFFFFF;
    background-color: #8AC007;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    white-space: nowrap;
}

.file_upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}