//
// Utils
//
@mixin bem-block_set-font()
{
    font-size: $site-base-font-size-em / 1em * 1rem;
    line-height: $site-base-line-height;
}

@mixin bem-element_set-font-size($sizeIndex)
{
    font-size: ms($sizeIndex);
    //??? do we need to get rid of em dimension(/ 1em)?
    line-height: ms($sizeIndex) * $site-base-line-height;
}


@mixin bem-element_add-vertical-margin-to-preserve-rhytm($sizeIndex)
{
    $baseRhytm: ms(0) * $site-base-line-height;
    $rhytm: $baseRhytm;
    $fontSize: ms($sizeIndex);
    //Possibly we need to modify condition to add minimum treshold
    @while $fontSize > $rhytm{
        $rhytm: $rhytm + $baseRhytm
    }
    
    $totalMargin: $rhytm - $fontSize;
    
    margin-top: $totalMargin / 2;
    margin-bottom: $totalMargin / 2;
}


//Should be avoided: if you nest bem components - put nested component as element(bem mix) and add vertical margin to element!
@mixin bem-block_add-vertical-margin-to-preserve-rhytm()
{
    $margin: $site-base-line-height * 1rem;
    margin-top: $margin;
    margin-bottom: $margin;
}