$module: 'footer';

.#{$module} {
    display: block;
    width:100%;
    background-color: get-site-color('turquoise');

    &__copyrigths
    {
        @include type-settings(-1);
        @include font-regular();
        color: get-site-color('blue');
        margin: 0 1rem;
        display: block;
        
        text-align: center;

        @include breakpoint(48em) {
            float: right;
            text-align: right;
        }
    }
}