$module: 'footer';

.#{$module} {
    display: block;
    width:100%;
    background-color: get-site-color('turquoise');
    //@include vrhythm('padding-top', 0.5);
    //@include vrhythm('padding-bottom', 0.5);

    &__copyrigths
    {
        @include type-settings(-1);
        @include font-regular();
        color: get-site-color('blue');
        margin: 0 1rem;
        display: block;
        
        text-align: center;

        @include breakpoint(48em) {
            float: right;
            text-align: right;
        }
    }
    
    &__link{
        margin: 0 1rem;
        @include type-settings(0);
        @include font-regular();
        color: get-site-color('blue');
        text-decoration: none;
        font-weight: bold;
    }
}