$module: 'language-menu';


//We have one problem if all languages does not fit into viewport
//We have to change position: fixed->absolute
//And then enable scrolling via language-menu only, but it's not so simple task
//https://css-tricks.com/forums/topic/prevent-body-scrolling-when-the-user-scrolls-on-fixed-position-div/

.#{$module} {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: get-site-color('white');
    position:relative;

    &__list {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    &__close-button
    {
        color: get-site-color('blue');
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        padding-right: 2rem;
    }
    
    &__close-button-icon
    {
        @include fa-icon($fa-var-times);
        @include type-settings(2);
        line-height: 1 !important;
    }

    &__item {
        margin: 0;
        padding: 0;
        color: get-site-color('blue');
        @include type-settings(1);
        @include font-regular();
        text-align: center;
    }
    
    &__item-text {
        display: inline-block;
        color: get-site-color('blue');
        
        @include type-settings(1);
        @include font-regular();
        
        @include vrhythm('padding-bottom', 0.5);
        @include vrhythm('padding-left', 0.5);
        @include vrhythm('padding-right', 0.5);
        
        &:hover {
            @include vrhythm('padding-bottom', 0.25);
            @include vrhythm('border-bottom-width', 0.25);
            border-bottom-style: inset;
            border-bottom-color: get-site-color('pistachio');
            
        }

        &_selected {
            color: get-site-color('green');
        }
    }
}