//
// Project variables
//

//Breakpoints
$bp-sm: 48em;
$bp-md: 62em;
$bp-lg: 75em;

//Colors

//Primary colors - background, blocks, etc
$color-pistachio: #99CC33;
$color-turquoise: #99FFFF;
$color-wall: #F8F8FF;

//Informational
$color-red: #CC3300;
$color-green: #669900;
$color-blue: #0066CC;
$color-yellow: #FFFF66;

//Supplementary colors
$color-brown: #996600;
$color-grey: #C0C0C0;
$color-orange: #FF9933;

//Plain colors
$color-white: #FFFFFF;
$color-black: #000000;

//Fonts sizes
$site-base-font-size-em: 1em;
$site-base-line-height: 1.5;

$ms-base: 1em;
$ms-ratio: $golden, $fourth, $fifth;

$ms-range:
  1.1 20em,
  1.6 60em;

//$ms-fluid: false;

/*$ms-range:
  1.2 20em,
  1.3 30em,
  1.4 40em,
  1.5 50em,
  1.6 60em;*/