//
// Project variables
//

//Fonts
//http://prgssr.ru/development/estetichnyj-sass-chast-3-tipografika-i-vertikalnyj-ritm.html
//https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm
$base-line-height: 1.5rem;

//http://www.modularscale.com/?1,1.1&em&1.618&sass&text
$font-size-xs: 0.618rem;
$font-size-sm: 0.68rem;
$font-size-normal: 1rem;
$font-size-lrg: 1.1rem;
$font-size-xlrg: 1.618rem;
$font-size-xxlrg: 1.78rem;

$base-type-settings: (
  -2: (
    font-size: $font-size-xs,
    line-height: $base-line-height
  ),
  -1: (
    font-size: $font-size-sm,
    line-height: $base-line-height
  ),
  0: (
    font-size: $font-size-normal,
    line-height: $base-line-height
  ),
  1: (
    font-size: $font-size-lrg,
    line-height: $base-line-height
  ),
  2: (
    font-size: $font-size-xlrg,
    line-height: $base-line-height * 2
  ),
  3: (
    font-size: $font-size-xxlrg,
    line-height: $base-line-height * 2
  )
);

$types-range:
0.8 20em,
0.85 30em,
0.9 40em,
0.95 50em,
1.0 60em;

