body {
    //background-image: url(/images/test.png);
    //background-color: red;
    footer {
        color: #999;
        font-size: 11px;
        //background-color: gold;
        background-color: #fdfdfd;
        li {
            padding-right: 8px;
            padding-bottom: 8px;

            .heading {
                text-transform: uppercase;
                color: #2c3747;
            }
        }
        .links {
            padding: 12px 0 24px;
        }
        .extra-links {
            padding: 12px 0 24px;
            .legal {

                padding-bottom: 10px;
                .legal-link
                {
                    margin-right: 30px;   
                }
            }
        }
    }
}

hr.hr-unstyled {
    margin: 0px;
}