$module: 'signup';

.#{$module} {
    display: flex;
    align-items: center;
    &__container{
        flex-grow: 0;
        display: inline-flex;
        margin: 0 auto;
        flex-flow: column nowrap;
        align-items: center;
    }

    &__header
    {
        text-align: center;
        padding: 0rem 1rem;
        margin: 0;
        @include font-regular();
        @include type-settings(0);
        @include vrhythm('margin-bottom', 1);
    }

    &__button-provider{
        @include vrhythm('margin-bottom', 1);
    }

    &__fine-print
    {
    }

    &__horizontal-separator{
    }
    
    &__create-new-account-link
    {
        @include font-regular();
        @include type-settings(0);
        @include vrhythm('margin-bottom', 1);
    }
}