<div ng-include="'partials/nav.html'" class="site__header"></div>
<div class="site__content">
    <div class="language-menu">
<!--        <div class="language-menu__close-button"><i class="language-menu__close-button-icon"></i></div>-->
        <ul class="language-menu__list">
            <a href ui-sref="app.language({lang: language.locale})" ng-repeat="language in languages">
            <li class="language-menu__item">
                <span class="language-menu__item-text" ng-class="{'language-menu__item-text_selected': language.locale === activeLang}">{{language.foreign}} - {{language.native}}</span>
            </li>
            </a>
        </ul>
    </div>
</div>
<div ng-include="'partials/footer.html'" class="site__footer"></div>