$module: 'site';
//
//http://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/

.#{$module} {
    height: 100%;
    
    &__container
    {
        height: 100%;
        margin:0;
        padding:0;
    }

    &__body{
        display: flex;
        height: 100%;
        flex-direction: column;
        margin:0;
        padding:0;    
    }


    &__content {
        flex: 1 0 auto;
    }

    &__footer {
        margin:0;
        padding:0;
        flex: 0 0 auto;
    }

    &__header {
        margin:0;
        padding:0;
        flex: 0 0 auto;
    }
}