$module: 'login';

.#{$module} {
    display: flex;
    align-items: center;
    &__container{
        flex-grow: 0;
        display: inline-flex;
        margin: 0 auto;
        flex-flow: column nowrap;
        align-items: center;
    }

    &__header
    {
        text-align: center;
        padding: 0rem 1rem;
        margin: 0;
        @include font-regular();
        @include type-settings(0);
    }

    &__button-provider{
        @include vrhythm('margin-top', 1);
    }

    &__input-group
    {
        @include vrhythm('margin-top', 1);
        width: 100%;
    }

    

    &__fine-print
    {
        @include vrhythm('margin-top', 1);
    }

    &__horizontal-separator{
    }

    &__button-submit
    {
        @include vrhythm('margin-top', 1);
    }
    
    &__additional-options
    {
        @include vrhythm('margin-top', 1);

        width: 100%;
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        @include font-regular();
        @include type-settings(0);


        &-inline-separator
        {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            border-left: 1px solid #ccc;
        }
        &-link{

        }
    }
}