$module: 'nav-menu-mobile';

.#{$module} {
    @media (min-width: 48em) {
        display: none;
    }
    @media (max-width: 48em) {
        display: block;
    }
    
    margin: 0;
    padding: 0;
    background-color: get-site-color('pistachio');

    &__list {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        padding: 0rem 0.7rem;
        @include font-header();
        @include type-settings(1);
        text-align: left;
        @include vrhythm('padding-top', 0.5);
        @include vrhythm('padding-bottom', 0.5);

        &_selected {
            @include vrhythm('border-bottom-width', 0.25);
            border-bottom-style: solid;
            border-bottom-color: get-site-color('purple');
            @include vrhythm('padding-bottom', 0.25);

            &:before {
                content: "\25CF";
                color: get-site-color('purple');
                @include type-settings(0);
                @include vrhythm('left', 0);
                @include vrhythm('top', 0);
                position: absolute;
            }
        }

        &-icon {
            display: none;
            color: get-site-color('wall');

            text-align: center;


            &_gallery{
                @include fa-icon($fa-var-th-large);
            }

            &_how-it-works{
                @include fa-icon($fa-var-cogs);
            }

            &_globe{
                @include fa-icon($fa-var-globe);
            }

            &_workspace{
                @include fa-icon($fa-var-desktop);
            }
            
            &_man{
                @include fa-icon($fa-var-user);
            }
        }

        &-text {
            @include font-regular();
            color: get-site-color('wall');
        }
    }
}