<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Properties defined here are shared between test and production -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    <mapping resource="hibernate/Category.hbm.xml"/>
    <mapping resource="hibernate/Partner.hbm.xml"/>
    <mapping resource="hibernate/Product.hbm.xml"/>
    <mapping resource="hibernate/Design.hbm.xml"/>
    <mapping resource="hibernate/ProductLocalization.hbm"/>
  </session-factory>
</hibernate-configuration>
