$module: 'color-palette';

.#{$module} {
    display: block;
    @include type-settings();
    padding-left: 1em;
    padding-right: 1em;
    
    &__header {
        @include type-settings(2);
        @include font-header();
        margin: 0;
    }
    
    &__sub-header {
        @include type-settings(1);
        @include font-header();
        margin: 0;
    }
    
    &__bd {
        @include type-settings(0);
        @include font-regular();
    }

    &__line {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include type-settings();
        @include vrhythm('margin-bottom');
        @include vrhythm('min-height');
        
        &_width_double {
            @include vrhythm('min-height', 2);
        }
        
        &_color {
            //Main
            &_pistachio {
                background-color: $color-pistachio;
            }
            &_turquoise {
                background-color: $color-turquoise;
            }
            &_wall {
                background-color: $color-wall;
            }
            //Informational
            &_red {
                background-color: $color-red;
            }
            &_green {
                background-color: $color-green;
            }
            &_blue {
                background-color: $color-blue;
            }
            &_yellow {
                background-color: $color-yellow;
            }
            //Supplementary
            &_brown {
                background-color: $color-brown;
            }
            &_grey {
                background-color: $color-grey;
            }
            &_orange {
                background-color: $color-orange;
            }
            //Plain
            &_white {
                background-color: $color-white;
            }
            &_black {
                background-color: $color-black;
            }
        }
    }

    &__square {
        @include vrhythm('height');
        @include vrhythm('min-width');
        flex: 0 1 auto;

        &_color {
            //Main
            &_pistachio {
                background-color: $color-pistachio;
            }
            &_turquoise {
                background-color: $color-turquoise;
            }
            &_wall {
                background-color: $color-wall;
            }
            //Informational
            &_red {
                background-color: $color-red;
            }
            &_green {
                background-color: $color-green;
            }
            &_blue {
                background-color: $color-blue;
            }
            &_yellow {
                background-color: $color-yellow;
            }
            //Supplementary
            &_brown {
                background-color: $color-brown;
            }
            &_grey {
                background-color: $color-grey;
            }
            &_orange {
                background-color: $color-orange;
            }
            //Plain
            &_white {
                background-color: $color-white;
            }
            &_black {
                background-color: $color-black;
            }
        }
    }

    &__text {
        flex: 0 1 auto;
        @include font-regular();

        &_color {
            //Main
            &_pistachio {
                color: $color-pistachio;
            }
            &_turquoise {
                color: $color-turquoise;
            }
            &_wall {
                color: $color-wall;
            }
            //Informational
            &_red {
                color: $color-red;
            }
            &_green {
                color: $color-green;
            }
            &_blue {
                color: $color-blue;
            }
            &_yellow {
                color: $color-yellow;
            }
            //Supplementary
            &_brown {
                color: $color-brown;
            }
            &_grey {
                color: $color-grey;
            }
            &_orange {
                color: $color-orange;
            }
            //Plain
            &_white {
                color: $color-white;
            }
            &_black {
                color: $color-black;
            }
        }
    }
}