$module: 'color-palette';

.#{$module} {
    display: block;
    @include type-settings();
    padding-left: 1em;
    padding-right: 1em;
    
    &__header {
        @include type-settings(2);
        @include font-header();
        margin: 0;
    }
    
    &__sub-header {
        @include type-settings(1);
        @include font-header();
        margin: 0;
    }
    
    &__bd {
        @include type-settings(0);
        @include font-regular();
    }

    &__line {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include type-settings();
        @include vrhythm('margin-bottom');
        @include vrhythm('min-height');
        
        &_width_double {
            @include vrhythm('min-height', 2);
        }
        
        &_color {
            //Main
            &_pistachio {
                background-color: get-site-color('pistachio');
            }
            &_turquoise {
                background-color: get-site-color('turquoise');
            }
            &_wall {
                background-color: get-site-color('wall');
            }
            //Informational
            &_red {
                background-color: get-site-color('red');
            }
            &_green {
                background-color: get-site-color('green');
            }
            &_blue {
                background-color: get-site-color('blue');
            }
            &_yellow {
                background-color: get-site-color('yellow');
            }
            //Supplementary
            &_purple {
                background-color: get-site-color('purple');
            }
            &_brown {
                background-color: get-site-color('brown');
            }
            &_grey {
                background-color: get-site-color('grey');
            }
            &_orange {
                background-color: get-site-color('orange');
            }
            //Plain
            &_white {
                background-color: get-site-color('white');
            }
            &_black {
                background-color: get-site-color('black');
            }
        }
    }

    &__square {
        @include vrhythm('height');
        @include vrhythm('min-width');
        flex: 0 1 auto;

        &_color {
            //Main
            &_pistachio {
                background-color: get-site-color('pistachio');
            }
            &_turquoise {
                background-color: get-site-color('turquoise');
            }
            &_wall {
                background-color: get-site-color('wall');
            }
            //Informational
            &_red {
                background-color: get-site-color('red');
            }
            &_green {
                background-color: get-site-color('green');
            }
            &_blue {
                background-color: get-site-color('blue');
            }
            &_yellow {
                background-color: get-site-color('yellow');
            }
            //Supplementary
            &_purple {
                background-color: get-site-color('purple');
            }
            &_brown {
                background-color: get-site-color('brown');
            }
            &_grey {
                background-color: get-site-color('grey');
            }
            &_orange {
                background-color: get-site-color('orange');
            }
            //Plain
            &_white {
                background-color: get-site-color('white');
            }
            &_black {
                background-color: get-site-color('black');
            }
        }
    }

    &__text {
        flex: 0 1 auto;
        @include font-regular();

        &_color {
            //Main
            &_pistachio {
                color: get-site-color('pistachio');
            }
            &_turquoise {
                color: get-site-color('turquoise');
            }
            &_wall {
                color: get-site-color('wall');
            }
            //Informational
            &_red {
                color: get-site-color('red');
            }
            &_green {
                color: get-site-color('green');
            }
            &_blue {
                color: get-site-color('blue');
            }
            &_yellow {
                color: get-site-color('yellow');
            }
            //Supplementary
            &_purple {
                color: get-site-color('purple');
            }
            &_brown {
                color: get-site-color('brown');
            }
            &_grey {
                color: get-site-color('grey');
            }
            &_orange {
                color: get-site-color('orange');
            }
            //Plain
            &_white {
                color: get-site-color('white');
            }
            &_black {
                color: get-site-color('black');
            }
        }
    }
}