//
// Base
// --------------------------------------------------


/*.navbar-default {
    .navbar-nav {

        >li >a {
            color: blueviolet;
        }
    }
}*/


body {
    //background-color: red;
    //background-image: url(/images/test.png);

/*    .navbar
    {
        background-color: lightgoldenrodyellow;
    }*/

    .test:hover
        {
        background-color: yellowgreen;
    }
    
    footer {
        color: #999;
        font-size: 11px;
        //background-color: gold;

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }

        background-color: #fdfdfd;
        li {
            padding-right: 8px;
            padding-bottom: 8px;

            .heading {
                text-transform: uppercase;
                color: #2c3747;
            }
        }
        .links {
            padding: 12px 0 24px;
        }
        .extra-links {
            padding: 12px 0 24px;
            .legal {

                padding-bottom: 10px;
                .legal-link
                {
                    margin-right: 30px;   
                }
            }
        }
    }
    .login-container #login-facebook {
        background-color: #1a60a2;
    }

    .login-container #login-google {
        background-color: #bf4434;
    }

    .login-container #login-button {
        background-color: yellowgreen;
    }
    
    .settings-container {
        margin: 0 auto;
        padding: 14px 0;
        text-align: left;
        max-width: 500px;
    }

    .notification-container {
        margin: 0 auto;
        padding: 14px 0;
        text-align: center;
        max-width: 500px;
    }

    .login-container {

        margin: 0 auto;
        padding: 14px 0;
        text-align: center;
        max-width: 300px;

        .provider-link {
            text-decoration: none;
            border-radius: 20px;
            color: white;
            display: block;
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            position: relative;
            text-align: center;
            width: 100%;
            margin-bottom: 20px;

            .provider-icon {
                position: absolute;
                left: 20px;
                line-height: 40px;
            }
        }

        .login-button {
            @extend .provider-link;
        }


        .explanation {
            color: #999;
        }

        .login-addons {
            a {
                text-decoration: underline;
            }
        }

        .tos-area {
            color: #444;
            font-size: 10px;
            color: #999;
            line-height: 16px;

            a {
                text-decoration: underline;
            }
        }
    }

}

hr.hr-unstyled {
    margin: 0px;
    border-color: #dddddd;
}
