<!doctype html>
<html ng-app="stitchGalaxy" ng-class="{'disable-scroll': popupVisible}">
    <head>
        <meta charset="utf-8">
        <title>Stitch galaxy styles</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/assets/css/vendor.min.css" />
        <link rel="stylesheet" href="/assets/css/site.min.css">

    </head>
    <body class="site">
        <div class="site__content">

            <div class="component-description">
                <h2 class="component-description__header"><span class="component-description__block-name">site</span> component</h2>
                <div class="component-description__bd">
                    <a class="component-description__link" href="/style/components/site.html" target="_blank">Example</a>
                    <br/>
                    <span>
                        Inspired by <a href="https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/" target="_blank">Solved by Flexbox</a>
                    </span>
                    <dl class="component-description__elements">
                        <dt>Elements:</dt>
                        <dd class="component-description__element-name">site__content</dd>
                    </dl>
                </div>

                <hr class="component-description__bottom-splitter"/>
            </div>
            <div class="component-description">
                <h2 class="component-description__header"><span class="component-description__block-name">language-menu</span> component</h2>
                <div class="component-description__bd">
                    <a class="component-description__link" href="#" ng-click="popupVisible = !popupVisible">Select language</a>
                    <div class="language-menu" ng-class="{'language-menu_visible': popupVisible}">
                        <div class="language-menu__close-button" ng-click="popupVisible = !popupVisible"><i class="language-menu__close-button-icon"></i></div>
                        <ul class="language-menu__list">
                            <li class="language-menu__item"><span class="language-menu__item-text language-menu__item-text_selected">English - English</span></li>
                            <li class="language-menu__item"><span class="language-menu__item-text">Russian - Русский</span></li>
                            <li class="language-menu__item"><span class="language-menu__item-text">Italian - Italiano</span></li>
                            <li class="language-menu__item"><span class="language-menu__item-text">Spanish - Español</span></li>
                            <li class="language-menu__item"><span class="language-menu__item-text">French - Français</span></li>
                            <li class="language-menu__item"><span class="language-menu__item-text">Portugal - Português</span></li>
                            <li class="language-menu__item"><span class="language-menu__item-text">Deutsch - Deutsch</span></li>
                            <li class="language-menu__item"><span class="language-menu__item-text">Turkish - Türkçe</span></li>
                        </ul>
                    </div>


                    <br/>
                    <dl class="component-description__elements">
                        <dt>Elements:</dt>
                        <dd class="component-description__element-name">language-menu__item</dd>
                    </dl>
                </div>

                <hr class="component-description__bottom-splitter"/>
            </div>

            <div class="component-description">
                <h2 class="component-description__header"><span class="component-description__block-name">nav-menu-small</span> component</h2>
                <div class="component-description__bd">
                    <div class="nav-menu-small">

                        <div class="nav-menu-small__toggle-area">
                            <div class="nav-menu-small__toggle-area-left-container">
                                <i class="nav-menu-small__toggle-area-left-container-icon"></i>
                            </div>
                            <div class="nav-menu-small__toggle-area-center-container">
                                <i class="nav-menu-small__toggle-area-center-container-icon" ng-click="popupVisible = !popupVisible"></i>
                            </div>
                            <div ng-click="smallMenuVisible = !smallMenuVisible" class="nav-menu-small__toggle-area-right-container">
                                <i class="nav-menu-small__toggle-area-right-container-icon"></i>
                            </div>
                            <div class="nav-menu-small__toggle-area-clear"></div>
                        </div>
                        <ul class="nav-menu-small__list" ng-class="{'nav-menu-small__list_visible': smallMenuVisible}">
                            <li class="nav-menu-small__item"><i class="nav-menu-small__item-icon nav-menu-small__item-icon_gallery"></i><span class="nav-menu-small__item-text nav-menu-small__item-text_selected">Gallery</span></li>
                            <li class="nav-menu-small__item"><i class="nav-menu-small__item-icon nav-menu-small__item-icon_how-it-works"></i><span class="nav-menu-small__item-text">How it works</span></li>
                            <li class="nav-menu-small__item"><i class="nav-menu-small__item-icon nav-menu-small__item-icon_workspace"></i><span class="nav-menu-small__item-text">Workspace</span></li>
                            <li class="nav-menu-small__item"><i class="nav-menu-small__item-icon nav-menu-small__item-icon_globe"></i><span class="nav-menu-small__item-text">Language</span></li>
                            <li class="nav-menu-small__item"><i class="nav-menu-small__item-icon nav-menu-small__item-icon_settings"></i><span class="nav-menu-small__item-text">Settings</span></li>
                            <li class="nav-menu-small__item"><i class="nav-menu-small__item-icon nav-menu-small__item-icon_signout"></i><span class="nav-menu-small__item-text">Log out</span></li>
                            <li class="nav-menu-small__item"><i class="nav-menu-small__item-icon nav-menu-small__item-icon_signin"></i><span class="nav-menu-small__item-text">Log in</span></li>
                        </ul>
                    </div>


                    <br/>
                    <dl class="component-description__elements">
                        <dt>Elements:</dt>
                        <dd class="component-description__element-name">language-menu__item</dd>
                    </dl>
                </div>

                <hr class="component-description__bottom-splitter"/>
            </div>
            <div class="component-description">
                <h2 class="component-description__header"><span class="component-description__block-name">nav-menu-large</span> component</h2>
                <div class="component-description__bd">
                    <div class="nav-menu-large">
                        <div class="nav-menu-large__fixed-container">
                            <ul class="nav-menu-large__list">
                                <li class="nav-menu-large__item"><i class="nav-menu-large__item-icon nav-menu-large__item-icon_gallery"></i><span class="nav-menu-large__item-text nav-menu-large__item-text_selected">Gallery</span></li>
                                <li class="nav-menu-large__item"><i class="nav-menu-large__item-icon nav-menu-large__item-icon_how-it-works"></i><span class="nav-menu-large__item-text">How it works</span></li>
                                <li class="nav-menu-large__item"><i class="nav-menu-large__item-icon nav-menu-large__item-icon_workspace"></i><span class="nav-menu-large__item-text">Workspace</span></li>
                                <li class="nav-menu-large__item"><i class="nav-menu-large__item-icon nav-menu-large__item-icon_globe"></i><span class="nav-menu-large__item-text">Language</span></li>
                                <li class="nav-menu-large__item"><i class="nav-menu-large__item-icon nav-menu-large__item-icon_settings"></i><span class="nav-menu-large__item-text">Settings</span></li>
                                <li class="nav-menu-large__item"><i class="nav-menu-large__item-icon nav-menu-large__item-icon_signout"></i><span class="nav-menu-large__item-text">Log out</span></li>
                                <li class="nav-menu-large__item"><i class="nav-menu-large__item-icon nav-menu-large__item-icon_signin"></i><span class="nav-menu-large__item-text">Log in</span></li>
                            </ul>
                        </div>
                    </div>

                    <br/>
                    <dl class="component-description__elements">
                        <dt>Elements:</dt>
                        <dd class="component-description__element-name">language-menu__item</dd>
                    </dl>
                </div>

                <hr class="component-description__bottom-splitter"/>
            </div>


            <div class="style-foundation">
                <h1 class="style-foundation__header">Foundation</h1>
                <div class="style-foundation__bd">
                    <h2 class="style-foundation__sub-header">Color palette</h2>
                    <a href="/style/colors.html" target="_blank">View</a>
                </div>
                <hr class="style-foundation__bottom-splitter"/>
                <div class="style-foundation__bd">
                    <h2 class="style-foundation__sub-header">Typography</h2>
                    <div class="typography">
                        <h1 class="typography__t typography__t_3">XX Large</h1>
                        <h2 class="typography__t typography__t_2">X Large</h2>
                        <h3 class="typography__t typography__t_1">Large</h3>
                        <p class="typography__t typography__t_0">Regular</p>
                        <p class="typography__t typography__t_-1"><b>Small</b></p>
                        <p class="typography__t typography__t_-2"><b>X Small</b></p>
                    </div>
                </div>
                <hr class="style-foundation__bottom-splitter"/>
            </div>
        </div>
        <script src="/assets/js/vendor.min.js"></script>
        <script src="/assets/js/site.min.js"></script>
    </body>
</html>